.box {
  width: 1000px;
  margin: 0 auto;
  margin-top: 70px;
}

.box > p,
h1,
ul {
  margin: 0px;
}

h1 {
  padding-left: 10px;
  font-weight: normal;
  font-size: 24px;
}

.greenline {
  background-color: rgb(39, 75, 21);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  border: solid 1px white;
}
.header1 {
  line-height: 40px;
}

.maroonline {
  background-color: rgb(173, 72, 61);
  border-left: solid 1px white;
  border-right: solid 1px white;
}

.header2 {
  line-height: 30px;
}
.content {
  font-size: 21px;
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(249, 249, 214);
  color: #4562bb;
  font-weight: bold;
  list-style-type: none;
  height: 370px;
  text-indent: 10px;
  padding-top: 10px;
  line-height: 37px;
  padding-bottom: 10px;
}

.content > li {
  background: url("button.jpg") no-repeat;
  background-position: left;
  background-size: 15px;
  margin: 0;
  padding-left: 20px;
}

.ad2 > li {
  display: inline-block;
  font-family: "Times New Roman", Times, serif;
}

.ad2 {
  text-align: center;
  padding: 0;
}

.ad1 > img {
  float: right;
  width: 464px;
  height: 388px;
  border: solid 1px white;
}

a.ad3 {
  color: #4562bb;
}
a.ad3:link {
  text-decoration: none;
  color: #4562bb;
}
a.ad3:visited {
  text-decoration: none;
  color: #4562bb;
}
a.ad3:hover {
  text-decoration: underline;
  color: white;
}
a.ad3:active {
  text-decoration: none;
  color: #4562bb;
}

a.ad4 {
  color: white;
}
a.ad4:link {
  text-decoration: none;
  color: white;
}
a.ad4:visited {
  text-decoration: none;
  color: white;
}
a.ad4:hover {
  text-decoration: underline;
  color: #4562bb;
}
a.ad4:active {
  text-decoration: none;
  color: white;
}

.head {
  font-weight: bold;
}

.search1 input[type="text"] {
  width: 260px;
}
.search1 input[type="text"]:focus {
  background-color: rgb(39, 75, 21);
  color: white;
}
.search1 input[type="button"] {
  background-color: rgb(39, 75, 21);
  color: white;
}
.search2 {
  text-align: right;
  padding-right: 20px;
}
